<!doctype html>
<html lang="en">

<head>
    <base href="{{contextPath}}">
    <meta charset="utf-8">
    <title>yo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
</head>

<body>
    <div id="root"></div>
    <script src="https://www.youtube.com/iframe_api"></script>
</body>

</html>
